<ion-header>
  <ion-toolbar>
    <ion-title>Momentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Momentos Del Anime</ion-list-header> -->
    <ion-item button *ngFor="let moment of moments;" (click)="viewMoment(moment)">
      <ion-avatar slot="start">
        <img [src]="moment.img" />
      </ion-avatar>
      <ion-label>
        <h2>{{moment.titulo}}</h2>
      </ion-label>
    </ion-item>
    <!-- <ion-modal [isOpen]="false">
      <ng-template>
        <ion-content>
          <video id='my-video' controls style="width: 640px; height: 360px;">
            <source [src]='moment.video' title='1080p' type='video/mp4' />
          </video>
        </ion-content>
      </ng-template>
    </ion-modal> -->
    <!-- <video id='video_id' controls style="width: 640px; height: 360px;">
      <source [src]='moment.video' title='1080p' type='video/mp4' />
    </video> -->
    </ion-list>
</ion-content>
