<ion-header>
  <ion-toolbar>
    <ion-title>Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p>Empezaré contando desde el principio para llegar a saber cómo conocí y porque es tan importante para mi esta serie.</p>
    <p>Entonces cuando yo era un niño me gustaba dibujar anime, un dia vi un rompecabezas de <span>Naruto</span>, y ya uds saben, quize dibujarlo, a partir de ese momento me enamoré del anime, y por consiguiente sigo viendo <span>Boruto</span> desde entonces.</p>
</ion-content>
