<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p>Es una serie de manga escrita por Ukyo Kodachi, ilustrada por Mikio Ikemoto y supervisada por Masashi Kishimoto. Consiste en la secuela de manga Naruto de Masashi Kishimoto, su historia narra las aventuras y formación de Boruto Uzumaki, el hijo de Naruto Uzumaki Y Hinata Hyuga, así cmo de sus compañeros, quines conforma la nueva generación de ninjas de la Aldea de la Hoja.</p>
      <p>La serie cuenta con su adaptación al anime que de hecho estamos enfocados a ella, y la cual esta dirigida por Hiroyuki y producida por el estudio Pierrot.</p>
    <br>
    <p>Temporadas: 2</p>
    <br>
    <p>Escrita por: <span>Ukyo Kodachi</span></p>
    <p>Ilustrada por: <span>Mikio Ikemoto</span></p>
    <p>Supervisada por: <span>Masashi Kishimoto</span></p>
</ion-content>
