<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="portada">
      <ion-icon size="small" name="home"></ion-icon>
      <ion-label>Portada</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="personajes">
      <ion-icon size="small" name="people"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="momentos">
      <ion-icon size="small" name="time"></ion-icon>
      <ion-label>Momentos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon size="small" name="newspaper"></ion-icon>
      <ion-label>Acerca</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vida">
      <ion-icon size="small" name="heart"></ion-icon>
      <ion-label>vida</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
